# Telegram Bot Token (@BotFather dan olingan)
TELEGRAM_BOT_TOKEN=8514248979:AAGeTEjSNN1Ojbm4elkf91gSbOi4vYOu2DM

# Admin Telegram ID
ADMIN_TELEGRAM_ID=7914882474

# PostgreSQL Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/kino_bot

# Backend API URL (agar admin panelga ulasmoqchi bo'lsangiz)
API_BASE_URL=http://localhost:3000/api
